@page
@model Sunridge.ImagesModel

<h4>Edit Images for Listing</h4>
<hr />
<div class="row">
    @if (Model.singleImage != null)
    {
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
        <script>toastr.error("Only select one image as the main image.");</script>
    }
    <div class="col-md-12">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @for (int i = 0; i < Model.ClassifiedListing.Images.Count; i++)
            {
                <input type="hidden" asp-for="@Model.ClassifiedListing.Images[i].Id" />
                <input type="hidden" asp-for="@Model.ClassifiedListing.Images[i].ClassifiedListingId" />
                <input type="hidden" asp-for="@Model.ClassifiedListing.Images[i].ImageURL" />
                <div class="form-group">
                    <img class="img-fluid" src="~/@Model.ClassifiedListing.Images[i].ImageURL" />
                </div>
                <div class="row">
                    <div class="form-group form-check pl-5">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="@Model.ClassifiedListing.Images[i].IsMainImage" /> Primary Image
                        </label>
                    </div>
                    <div class="col-md-5 text-right">
                        <button type="submit" class="btn btn-danger" asp-page-handler="Remove" asp-route-id="@Model.ClassifiedListing.Images[i].ClassifiedListingId">Remove Image</button>
                    </div>
                </div>

                <br />
            }
            <div class="form-group card">
                <div class="font-weight-bold">Add another image: </div>
                <div class="col-9">
                    <input type="file" class="form-control-file" name="files" id="files" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" asp-route-Id="@Model.ClassifiedListing.Images.FirstOrDefault().ClassifiedListingId" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
