@page
@model Sunridge.Pages.Dashboard.AdminDash.Lots.UpsertModel
@{
    ViewData["Title"] = "Lots Upsert";
    Layout = "_DashboardLayout";
}
<!--Lot/Upsert-->
<form method="post" asp-action="Upsert">
    <div class="container">
        <div class="row px-2 mx-2 backgroundWhite border">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.LotObj.Lot.Id != 0)
            {
                <input type="hidden" asp-for="LotObj.Lot.Id" />
            }
            <div class="col-10 px-3" style="border-bottom:1px solid #325d88">
                <h2 class="text-primary">@(Model.LotObj.Lot.Id != 0 ? "Update" : "Create") Serial</h2>
            </div>
            <div class="col-9 pt-3">
                <div class="form-group row">
                    <div class="col-md-3">
                        <label asp-for="LotObj.Lot.LotNumber"></label>
                    </div>
                    <div class="col-md-5">
                        <input class="form-control" asp-for="LotObj.Lot.LotNumber" />
                        <span class="text-danger" asp-validation-for="LotObj.Lot.LotNumber"></span>

                    </div>
                </div>
                @if (Model.LotObj.Address.Id != 0)
                {
                    <input type="hidden" asp-for="LotObj.Address.Id" />
                }
                <div class="form-group row">
                    <div class="col-md-3">
                        <label asp-for="LotObj.Address.StreetAddress"></label>
                    </div>
                    <div class="col-md-5">
                        <input class="form-control" asp-for="LotObj.Address.StreetAddress" />
                        <span class="text-danger" asp-validation-for="LotObj.Address.StreetAddress"></span>

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <label asp-for="LotObj.Address.Apartment"></label>
                    </div>
                    <div class="col-md-5">
                        <input class="form-control" asp-for="LotObj.Address.Apartment" />
                        <span class="text-danger" asp-validation-for="LotObj.Address.Apartment"></span>

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <label asp-for="LotObj.Address.City"></label>
                    </div>
                    <div class="col-md-5">
                        <input class="form-control" asp-for="LotObj.Address.City" />
                        <span class="text-danger" asp-validation-for="LotObj.Address.City"></span>

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <label asp-for="LotObj.Address.State"></label>
                    </div>
                    <div class="col-md-5">
                        <input class="form-control" asp-for="LotObj.Address.State" />
                        <span class="text-danger" asp-validation-for="LotObj.Address.State"></span>

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <label asp-for="LotObj.Address.Zip"></label>
                    </div>
                    <div class="col-md-5">
                        <input class="form-control" asp-for="LotObj.Address.Zip" />
                        <span class="text-danger" asp-validation-for="LotObj.Address.Zip"></span>

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <label asp-for="LotObj.Lot.TaxId"></label>
                    </div>
                    <div class="col-md-5">
                        <input class="form-control" asp-for="LotObj.Lot.TaxId" />
                        <span class="text-danger" asp-validation-for="LotObj.Lot.TaxId"></span>

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <label asp-for="LotObj.Lot.IsArchive"></label>
                    </div>
                    <div class="col-md-5">
                        <input class="form-control" asp-for="LotObj.Lot.IsArchive"  type="checkbox"  data-toggle="toggle" data-on="True" data-off="False"/>
                        <span class="text-danger" asp-validation-for="LotObj.Lot.IsArchive" ></span>

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <label asp-for="LotObj.Lot.LastModifiedBy"></label>
                    </div>
                    <div class="col-md-5">
                        <input class="form-control" asp-for="LotObj.Lot.LastModifiedBy" />
                        <span class="text-danger" asp-validation-for="LotObj.Lot.LastModifiedBy"></span>

                    </div>
                </div>

                <div class="form-group row col-3">
                    <label>Lot Inventory</label>
                </div>
                <div class="form-group">

                    @if (Model.InList != null)
                    {
                        @foreach (var item in Model.InList)
                        {
                            <div class="form-group row">
                                @if (Model.LotInVm.InventoryList != null)
                                {
                                    @if (Model.LotInVm.InventoryList.Contains(item.Id))
                                    {
                                        <div class="col-md-3">
                                            <label class="control-label">@item.Description</label>
                                        </div>
                                        <div class="col-md-5 ">
                                            <input class="form-control" name="LotInVm.InventoryList" type="checkbox" value="@item.Id" checked data-toggle="toggle" data-on="Add" data-off="Remove" />
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-3">
                                            <label class="control-label">@item.Description</label>
                                        </div>
                                        <div class="col-md-5 ">
                                            <input class="form-control" name="LotInVm.InventoryList" type="checkbox" value="@item.Id"  data-toggle="toggle" data-on="Add" data-off="Remove" />
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="col-md-3">
                                        <label class="control-label">@item.Description</label>
                                    </div>
                                    <div class="col-md-5 ">
                                        <input class="form-control" name="LotInVm.InventoryList" type="checkbox" value="@item.Id"   data-toggle="toggle" data-on="Add" data-off="Remove"/>
                                    </div>
                                }
                            </div>
                        }
                    }

                </div>
                <div class="form-group row">
                    <div class="col-9 offset-3">
                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary form-control">@(Model.LotObj.Lot.Id != 0 ? "Update" : "Create")</button>
                            </div>
                            <div class="col-6">
                                <a asp-page="/Dashboard/AdminDash/Lots/Index" class="btn btn-success form-control">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



