@page
@model Sunridge.Pages.Dashboard.AdminDash.User.ProfileModel
@using Sunridge.Utility
@{
    ViewData["Title"] = "Profile";
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <form method="post" asp-action="Profile" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="applicationUser.Id" />
            <div id="nonEdited" style="display:block">
                <div class="form-group row border">
                    <div class="col-9">
                        <div style="display:block">
                            <label asp-for="applicationUser.FullName"></label>
                            <b>: @Model.applicationUser.FullName</b>
                        </div>
                    </div>
                </div>

                <div class="form-group row border">
                    <div class="col-9">
                        <div class="non-edit" style="display:block">
                            <label asp-for="applicationUser.UserName"></label>
                            <b>: @Model.applicationUser.UserName</b>
                        </div>

                    </div>
                </div>

                <div class="form-group row border">
                    <div class="col-9">
                        <div class="non-edit" style="display:block">
                            <label asp-for="applicationUser.PhoneNumber"></label>
                            @if (Model.applicationUser.PhoneNumber != null)
                            {
                                <b>: @String.Format("{0: (###) ###-####}", Convert.ToInt64(Model.applicationUser.PhoneNumber))</b>
                            }
                            else
                            {
                                <b class="text-danger">: No Phone Number Listed</b>
                            }
                        </div>


                    </div>
                </div>

                <div class="form-group row border">
                    <div class="col-9">
                        <div class="non-edit" style="display:block">
                            <label asp-for="applicationUser.Birthday"></label>
                            <b>: @Model.applicationUser.Birthday</b>
                        </div>

                    </div>
                </div>

                <div class="form-group row border">
                    <div class="col-9">
                        <div class="non-edit" style="display:block">

                            <label asp-for="applicationUser.EmergencyContactName"></label>
                            @if (Model.applicationUser.EmergencyContactName != null)
                            {
                                <b>: @Model.applicationUser.EmergencyContactName</b>
                            }
                            else
                            {
                                <b class="text-danger">: No Emergency Contact Listed</b>
                            }

                        </div>
                    </div>

                </div>

                <div class="form-group row border">
                    <div class="col-9">
                        <div class="non-edit" style="display:block">
                            <label asp-for="applicationUser.EmergencyContactPhone"></label>
                            @if (Model.applicationUser.EmergencyContactPhone != null)
                            {
                        <b>: @String.Format("{0: (###) ###-####}", Convert.ToInt64(Model.applicationUser.EmergencyContactPhone))</b>
                            }
                            else
                            {
                                <b class="text-danger">: No Emergency Contact Listed</b>
                            }

                        </div>
                    </div>

                </div>

                <div class="form-group row border">
                    <div class="col-9">
                        <div class="non-edit" style="display:block">
                            <label asp-for="applicationUser.ReceiveEmails"></label>
                            @if (Model.applicationUser.ReceiveEmails != null)
                            {
                                <b>: @Model.applicationUser.ReceiveEmails</b>
                            }
                            else
                            {
                                <b class="text-danger">: Not Selected</b>
                            }
                        </div>
                    </div>

                </div>

                <div class="form-group row border">
                    <div class="col-7">

                        <label>Current Role: </label>
                        <b class="text-center text-info">: @Model.Input.Role</b>

                    </div>
                </div>
                <div class="form-group row">

                    <div class="col-7 offset-3">

                        <div class="row">

                            <div class="col-6">
                                <b onclick="Edit(); " style="width:140px" class="btn btn-warning ">Edit</b>
                            </div>

                            <div class="col-6">
                                <a asp-page="./Index" class="btn btn-success form-control">Back To List</a>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
            @* Edited display *@
            <div id="Edit" style="display:none">
                <div class="form-group row border">
                    <div class="col-9">

                        <div style="display:block">
                            <label asp-for="applicationUser.FirstName"></label>
                            <input class="text-info" asp-for="applicationUser.FirstName" /><br />
                            <label asp-for="applicationUser.LastName"></label>
                            <input class="text-info" asp-for="applicationUser.LastName" />
                        </div>
                    </div>
                </div>

                <div class="form-group row border">
                    <div class="col-9">
                        <div class="non-edit" style="display:block">

                            <label asp-for="applicationUser.UserName"></label>
                            <input class="text-info" asp-for="applicationUser.UserName" />
                        </div>
                    </div>
                </div>

                <div class="form-group row border">
                    <div class="col-9">
                        <div class="non-edit" style="display:block">

                            <label asp-for="applicationUser.PhoneNumber"></label>
                            <input class="text-info" asp-for="applicationUser.PhoneNumber" />
                        </div>

                    </div>
                </div>

                <div class="form-group row border">
                    <div class="col-9">
                        <div class="non-edit" style="display:block">

                            <label asp-for="applicationUser.Birthday"></label>
                            <input class="text-info" asp-for="applicationUser.Birthday" />
                        </div>
                    </div>
                </div>

                <div class="form-group row border">
                    <div class="col-9">
                        <div class="non-edit" style="display:block">


                            <label asp-for="applicationUser.EmergencyContactName"></label>
                            <input class="text-info" asp-for="applicationUser.EmergencyContactName" />
                        </div>
                    </div>
                </div>
                <div class="form-group row border">
                    <div class="col-9">
                        <div class="non-edit" style="display:block">

                            <label asp-for="applicationUser.EmergencyContactPhone"></label>
                            <input class="text-info" asp-for="applicationUser.EmergencyContactPhone" />
                        </div>
                    </div>
                </div>
                <div class="form-group row border">
                    <div class="col-4">
                        <div class="non-edit" style="display:block">

                            <label asp-for="applicationUser.ReceiveEmails"></label>
                            <table>
                                <tr>
                                    <td>yes</td>
                                    <td class="col-1"> <input type="radio" class="form-control" asp-for="applicationUser.ReceiveEmails" value="true"></td>
                                </tr>
                                <tr>
                                    <td>no </td>
                                    <td><input type="radio" class="form-control" asp-for="applicationUser.ReceiveEmails" value="false" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group row border">
                    <div class="col-7">

                        <label>Current Role: </label>
                        <b class="text-center text-info">: @Model.Input.Role</b>

                    </div>
                </div>

                <div class="row col-7">
                    <b class="btn btn-primary" onclick="Togglehide();">Click to Select Role</b>
                </div>

                <div class="form-group row border" id="ChangeRole" style="display:none">
                    <div class="col-4">
                        <label>Select Role:</label>
                        <table>
                            <tr>
                                <td>@SD.AdminRole: </td>
                                <td class="col-1"> <input type="radio" class="form-control" asp-for="Input.Role" value="@SD.AdminRole"></td>
                            </tr>
                            <tr>
                                <td>@SD.Owner: </td>
                                <td><input type="radio" class="form-control" asp-for="Input.Role" value="@SD.Owner" /></td>
                            </tr>
                        </table>

                    </div>
                </div>
                <br />
                <div class="form-group row">

                    <div class="col-7 offset-3">

                        <div class="row">

                            <div class="col-6">
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                </div>

                            <div class="col-6">
                                <a asp-page="./Index" class="btn btn-success form-control">Back To List</a>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function Togglehide() {
        var x = document.getElementById("ChangeRole");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
        else {
            x.style.display = "block";
        }
    }
    function Edit() {
        var x = document.getElementById("nonEdited")
        x.style.display = "none";
        var y = document.getElementById("Edit")
        y.style.display = "block";
    }
</script>