@page
@model Sunridge.Pages.Home.BoardModel
@{
    ViewData["Title"] = "Board Members";
}
    <div class="row container pb-3 backgroundWhite">
        @foreach (var board in Model.BoardMembers)
        {
            <div class="col-lg-3 col-lx-3 col-md-6 pb-4" style="width:50%; padding: 1em;">
                <div class="card " style="background-color:lightblue; box-shadow: 4px 4px #888888; border: 2px solid black; border-radius: 5px;">
                    <img src="\@board.Image" class="card-img-top p-2 rounded " style="max-height:200px;" />
                    <div class="pl-2 pt-1 text-center"><h3 class="card-title " style="color: black; font-size: 16px "><b>@board.FullName<br />@board.Title</b></h3></div>

                    <div class="pl-3 pt-1 text-center card-body ">
                        <p style="color:black; font-size:12px"><b>Email:<a href="mailto: @board.Email"> @board.Email</a></b></p>
                        <p style="color:black; font-size:12px"><b>Phone: @String.Format("{0: (###) ###-####}", Convert.ToInt64(board.Phone))</b></p>
                    </div>
                    
                </div>
            </div>
        }
        </div>
