@page
@model Sunridge.Pages.Dashboard.AdminDash.Forms.FormRespnsepageModel
@{
    ViewData["Title"] = "FormRespnsepage";
}

<h1>Form Response page</h1>
<h1>Unresolved Forms</h1>
@if (Model.FormResObj.FormResponse.Resolved.Equals(false))
{
    @foreach (var submission in Model.SubList)
    {

        @if ((Model.FormList.Where(c => c.FormSubmissionsId == submission.Id).Count() > 0))
        {

            <div class="row container pb-3 backgroundWhite">
                <div class="col-12">
                    <div class="row">
                        <h2 class="text-success pl-1"><b>@submission.FormType</b></h2>
                    </div>
                    <div class="col-12">
                        <div class="row my-3">
                            @foreach (var form in Model.FormList.Where(c => c.FormSubmissionsId == submission.Id))
                            {
                                <div class="col-lg-3 col-xl-3 col-md-6 pb-4">

                                    <table id="DT_Load" class="table table-striped table-bordered" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th><b>@form.FormSubmissions.FormType</b></th>
                                                <th><b>@form.FormSubmissions.SubmitDate</b></th>
                                                <th><b>@form.PrivacyLevel</b></th>
                                                <th><b>@form.Resolved</b></th>
                                                <th><b>@form.ResolveDate</b></th>
                                                <th><b>@form.ResolveUser</b></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                    </table>

                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        }
    }
}
<h1>Resolved Forms</h1>
@if (Model.FormResObj.FormResponse.Resolved.Equals(true))
{
    @foreach (var submission in Model.SubList)
    {

        @if ((Model.FormList.Where(c => c.FormSubmissionsId == submission.Id).Count() > 0))
        {

            <div class="row container pb-3 backgroundWhite">
                <div class="col-12">
                    <div class="row">
                        <h2 class="text-success pl-1"><b>@submission.FormType</b></h2>
                    </div>
                    <div class="col-12">
                        <div class="row my-3">
                            @foreach (var form in Model.FormList.Where(c => c.FormSubmissionsId == submission.Id))
                            {
                                <div class="col-lg-3 col-xl-3 col-md-6 pb-4">

                                    <table id="DT_Load" class="table table-striped table-bordered" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th><b>@form.FormSubmissions.FormType</b></th>
                                                <th><b>@form.FormSubmissions.SubmitDate</b></th>
                                                <th><b>@form.PrivacyLevel</b></th>
                                                <th><b>@form.Resolved</b></th>
                                                <th><b>@form.ResolveDate</b></th>
                                                <th><b>@form.ResolveUser</b></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                    </table>

                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        }
    }
}