@p@page
@model Sunridge.Pages.Dashboard.AdminDash.Forms.FormRespnsepageModel
@{
    ViewData["Title"] = "FormRespnsepage";
}

<h1>Form Responses</h1>

<h4>Unresolved Forms</h4>
<div class="container container-fluid bg-light p-5">

    @if ((Model.FormList.Count() > 0))
    {

        <div class="row container pb-3 backgroundWhite">
            <div class="col-sm-6">
                <table id="DT_Load" class="table table-striped table-bordered" style="width:100%;">
                    <thead>
                        <tr>
                            <th><b>Form Type</b></th>
                            <th><b>Submit Date</b></th>
                            <th><b>Resolved</b></th>
                            <th><b>Resolve Date</b></th>
                            <th><b>User</b></th>
                            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        </tr>
                    </thead>
                    @foreach (var form in Model.FormList.Where(c => c.Resolved == false))
                    {

                        <tr>
                            <td>
                                <h4 class="btn-toolbar">@form.FormType</h4>
                            </td>
                            <td>
                                @form.FormSubmissions.SubmitDate
                            </td>

                            <td>@form.Resolved</td>

                            <td>@form.ResolveDate</td>
                            <td>@form.ResolveUser</td>
                            <td>
                                <div class="text-center">
                                    <a asp-page="/Dashboard/AdminDash/Forms/upsert" asp-route-id="@form.Id" class="btn btn-success text-white" style="cursor:pointer; width:100px;">
                                        <i class="far fa edit"></i> Edit
                                    </a>

                                </div>
                            </td>
                        </tr>
                    }
                </table>

            </div>

        </div>

    }

</div>

<h4>Resolved Forms</h4>
<div class="container container-fluid bg-light p-5">

    @if ((Model.FormList.Count() > 0))
    {
        <div class="row container pb-3 backgroundWhite">
            <div class="col-sm-6">
                <table id="DT_Load" class="table table-striped table-bordered" style="width:100%;">
                    <thead>
                        <tr>
                            <th><b>Form Type</b></th>
                            <th><b>Submit Date</b></th>
                            <th><b>Resolved</b></th>
                            <th><b>Resolve Date</b></th>
                            <th><b>User</b></th>
                            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        </tr>
                    </thead>
                    @foreach (var form in Model.FormList.Where(c => c.Resolved == true))
                    {
                        <tr>
                            <td>
                                <h4 class="btn-toolbar">@form.FormType</h4>
                            </td>
                            <td>
                                @form.FormSubmissions.SubmitDate
                            </td>

                            <td>@form.Resolved</td>

                            <td>@form.ResolveDate</td>
                            <td>@form.ResolveUser</td>
                            <td>
                                <div class="text-center">
                                    <a asp-page="/Dashboard/AdminDash/Forms/upsert" asp-route-id="@form.Id" class="btn btn-success text-white" style="cursor:pointer; width:100px;">
                                        <i class="far fa edit"></i> Edit
                                    </a>

                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
</div>
@section Scripts{

    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/rowreorder/1.2.6/js/dataTables.rowReorder.min.js"></script>
}